 /*
	Indus by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Settings In style.css :
    1. General
    2.Home/Countdown
    3.Newsletter
    4.Features
    5.Contact-Us
*/

/* ==============================================
1.GENERAL
=============================================== */
body{
	overflow-x: hidden;
	overflow-y: auto;
    /* font-family: 'Roboto', sans-serif; */
}
.margin-t-50{
    margin-top: 50px;
}
.btn-custom{
    background-color: #000;
    color: #fff;
    border-radius: 3px;
}
.btn-custom:hover,.btn-custom:active,.btn-custom:focus{
    background-color: #3A3939;
    color: #fff;
    outline: none;
}
.parallax {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;

}
.animationload {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff;
    z-index:999999;
}
.loader {
    width:200px;
    height:200px;
    font-size:0;
    position:absolute;
    left:50%;
    top:50%;
    background-image:url(../images/loader.gif);
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px;
}
/* -----------------------------------------------------------------------
   2. HOME / Countdown styles
------------------------------------------------------------------------- */
.logo{
    padding-bottom: 5%;
}
.logo p{
    color: #ffffff;
    padding-top: 20px;
    font-style: italic;
}
#home .large-header {
	background-image: url("../images/pattern.png"),url('../images/img-1.jpg');
	background-position: center;
}
.home-main {
	position: absolute;
	margin: 0;
	padding: 0;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
.dash {
	padding-bottom: 10px;
	position: relative;
	opacity: 1;
}
.dash_title {
	font-size: 16px;
	width: 100%;
	color: #bbbbbb;
	display: block;
	clear: both;
}
.digit {
	color: #f9f9f9;
	font-size: 60px;
	font-weight: 300;
	display: inline-block;
	overflow: hidden;
	text-align: center;
	height: 110px;
	line-height: 110px;
	position: relative;
	vertical-align: middle;
}
@media(max-height:360px) {
    .digit {
        font-size: 30px;
        height: 50px;
        line-height: 50px;
    }
}
@media(max-width:560px) {
    #countdown_dashboard{
        min-width: 300px;
    }
    .digit{
        font-size: 30px;
        height: 60px;
        line-height: 60px;
    }
}
@media(min-width:560px) and (max-width: 1024px){
    .digit{
        font-size: 40px;
        height: 80px;
        line-height: 80px;
    }
}
.footer{
    padding-bottom: 100px;
}
.copyright{
    padding-top: 10px;
}

